.navbar {
  background-color: #f9f8f4;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 100px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.navbar .links a {
  color: #1c232f;
  font-weight: bold;
  padding: 0.5rem 0;
  border-bottom: solid 2px transparent;
  transition: all 0.3s;
}

.navbar .links a:hover {
  border-bottom: solid 2px #886176;
}
